extends layout

block content
    script(src="/peeks.js")
    script(src="/pages/face.js")
    //script(src="/pages/tracking.js")
    //script(src="/pages/tracking_face.js")
    //script(src="/pages/tracking_eye.js")
    //script(src="/pages/tracking_mouth.js")

    //script(src="/js/haar-detector.min.js")
    //script(src="/js/haarcascade_frontalface_alt.js")
    //script(src="/js/dat.gui.js")
    //script(src="/js/parallel.min.js")
    //script(src="/js/main.js")

    //script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js")
    //script(src="/js/visage/visageSDK.js")
    script.
        function onModuleInitialized()
        {
            //set up detector and licensing, valid license needs to be provided
        	Module.initializeLicenseManager("784-812-610-253-643-515-431-591-443-131-495.vlc");
            //Module.initializeLicenseManager("431-178-039-010-389-293-858-207-135-758-802.vlc");
        	m_Detector = new Module.VisageDetector();
        	faceData = new Module.FaceDataVector();
        	for (var i = 0; i < 10; i++)
        	{
        		faceData.push_back(new Module.FaceData());
        	}
        }
        //console.log('there');
        //var Module = VisageModule({onRuntimeInitialized: onModuleInitialized});

    script.
        var Module = {
            wasmBinaryFile: '/js/cv/wasm/opencv_js.wasm',
            preRun: [function() {
                Module.FS_createPreloadedFile('/', 'haarcascade_eye.xml', '/js/cv//data/haarcascade_eye.xml', true, false);
                Module.FS_createPreloadedFile('/', 'haarcascade_frontalface_default.xml', '/js/cv//data/haarcascade_frontalface_default.xml', true, false);
                Module.FS_createPreloadedFile('/', 'haarcascade_profileface.xml', '/js/cv//data/haarcascade_profileface.xml', true, false);
            }],
            _main: function() {
                opencvIsReady();
            }
        };
        function opencvIsReady() {
            PEEKS.registerExtension('cv', cv);
            console.log('OpenCV.js is ready');
        }

    script(src="/js/cv/wasm/opencv.js" async)

    script(src="https://www.googletagmanager.com/gtag/js?id=UA-109650112-1")
    script.
        var peeks = new PEEKS.Scene();
        peeks.start(window);
