extends layout

block content
    script(src="/javascripts/peeks.js")

    // Use threeJS specialization
    script(src="/javascripts/three.js")
    script(src="/javascripts/three/loaders/OBJLoader.js")
    script(src="/javascripts/three/renderers/CSS3DRenderer.js")
    script(src="/javascripts/three/effects/StereoEffect.js")
    script(src="/javascripts/peeks_three.js")

    script(src="/javascripts/tracking.js")

    // Load some pages
    script(src="/assets/fashion.js")
    script(src="/assets/terraworlds.js")
    script(src="/assets/assets.js")
    script(src="/assets/target.js")
    script(src="/assets/fortinet.js")
    script(src="/assets/sportrade.js")
    script(src="/assets/mannequin.js")
    script(src="/assets/tron.js")
    script(src="/assets/louisvuitton.js")
    script(src="/assets/kirkwood.js")
    script(src="/assets/kenzo.js")

    // script(src="https://www.googletagmanager.com/gtag/js?id=UA-109650112-1");

    script.
        var url = document.URL;
        if (url.search('127.0.0.1:3000') != -1) {
            PEEKS.setAnimationSpeed(10);
            PEEKS.setLogLevel(1);
        } else {
            PEEKS.setLogLevel(3);
        }
        var peeks = new PEEKS.Scene();

        var paramsI = url.search("\\?");
        if (paramsI !== -1) {
            var items = [];

            var paramStr = url.substring(paramsI + 1);
            var params = paramStr.split('&');
            for (var paramI = 0; paramI < params.length; paramI++) {
                var param = params[paramI].split('=');
                items.push([param[0], param[1]]);
            }

            PEEKS.registerPage('Christmas', function() {
            	var page = new PEEKS.Asset();

                var canvas = page.addCanvas();

                var pane = canvas.addView({
                    position: [0, 0],
                    size: [1, .6, 1],
                    viewBgColor: [.3, .3, .3],
                    alpha: 0,
                });

                var itemCount = 0;
                for (var itemI = 0; itemI < items.length; itemI++) {
                    var fontSize = 50;
                    var urlTarget = items[itemI][1];
                    pane.addTextButton({
                        label: items[itemI][0].replace('_', ' '),
                        position: [0, .6 - itemCount * .2, 0],
                        size: [.9, .15, 1],
                        fontSize: fontSize,
                        urlTarget: items[itemI][1],
                        onClick: function() {
                            window.open(this.urlTarget,'_blank');
                        }
                    });

                    itemCount++;
                }

            	page.addPage('peeks_toolbar');
            	return page;
            });

            peeks.loadPage('Christmas');
        } else {
            var page = document.title;
            if (page === 'Peeks') {
                var urlSplit = url.split('.');
                if (urlSplit.length > 2) {
                    page = urlSplit[1];
                }
            }
            peeks.loadPage(page);
        }
        peeks.start(window);
