extends layout

block content
  script(src="/javascripts/peeks.js")

  // Use threeJS specialization
  script(src="/javascripts/three.js")
  script(src="/javascripts/three/loaders/OBJLoader.js")
  script(src="/javascripts/peeks_three.js")

  // Default page
  script(src="/pages/peeks_background.js")
  script(src="/pages/peeks_recommendations.js")
  script(src="/pages/peeks_welcome.js")
  script(src="/pages/peeks_history.js")
  script(src="/pages/peeks_search.js")
  script(src="/pages/peeks_toolbar.js")

  // Load some pages
  script(src="/assets/bloomingdales.js")
  script(src="/assets/terraworlds.js")
  script(src="/assets/menu.js")

  script.
    PEEKS.setLogLevel(1);
    var peeks = new PEEKS.Scene();
    peeks.loadPage('peeks_welcome');
    peeks.start(window);
