extends layout

block content
    script(src="/peeks.js")
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-109650112-1")
    script.
        var peeks = new PEEKS.Scene();
        peeks.start(window);
