extends layout

block content
  h1= title
  script(src="/javascripts/peeks.js")
  script(src="/javascripts/three.js")
  script(src="/javascripts/three/loaders/OBJLoader.js")
  script(src="/javascripts/peeks_three.js")

  script.
    var renderWidth = 800;
    var renderHeight = 400;

    var scene = new THREE.Scene();
    var ambient = new THREE.AmbientLight( 0x101030 );
    scene.add( ambient );
    var directionalLight = new THREE.DirectionalLight( 0xffeedd );
    directionalLight.position.set( 0, 0, 1 );
    scene.add( directionalLight );

    var camera = new THREE.PerspectiveCamera( 55, renderWidth/renderHeight, 0.1, 1000 );

    var renderer = new THREE.WebGLRenderer({ alpha: true, antialias: true });
    renderer.sortObjects = false;
    renderer.setClearColor( 0x000000, 0 );
    renderer.setSize( renderWidth, renderHeight );
    document.body.appendChild( renderer.domElement );

    PEEKS.setLogLevel(1);

    var peeks = new PEEKS.Scene(renderer.domElement);
    peeks.threeCamera = camera;
    peeks.bounds = { x0: -4, y0: 0, z0: -3, x1: 4, y1: 2, z1: 3 };

    document.addEventListener('mousemove', function(event) { peeks.onMouseMove(event); });
    document.addEventListener('mousedown', function(event) { if (event.target.nodeName === 'CANVAS') { peeks.onMouseDown(event); } });
    document.addEventListener('mouseup', function(event) { peeks.onMouseUp(event); });
    document.addEventListener('keydown', function(event) { peeks.onKeyDown(event); });
    document.addEventListener('keyup', function(event) { peeks.onKeyUp(event); });
    document.addEventListener('mousewheel', function(event) { if (event.target.nodeName === 'CANVAS') { peeks.onMouseWheel(event); } });
    document.addEventListener('MozMousePixelScroll', function(event) { if (event.target.nodeName === 'CANVAS') { peeks.onMouseWheel(event); } });
    document.addEventListener('touchstart', function(event) { if (event.target.nodeName === 'CANVAS') { peeks.onMouseDown(event); } } );
    document.addEventListener('touchend', function(event) { peeks.onMouseUp(event); } );
    document.addEventListener('touchmove', function(event) { peeks.onMouseMove(event); } );

    var asset;

    asset = new PEEKS.Plane();
    asset.setGeometry('assets/vr_controller_vive_1_5.obj');
    asset.setTexture('assets/vr_controller_vive_1_5.png');
    asset.setRotation(90, 0, 0);
    asset.setSize(4, 4, 4);
    peeks.add(asset);

    asset.add(new PEEKS.Animation({
      duration: 10,
      begin: [0, 0, 0],
      end: [360, 360, 360],
      attribute: 'rotation',
      loop: true
    }));

    asset = new PEEKS.Plane();
    asset.setGeometry('assets/ball_chair.obj');
    asset.setPosition(-2, -1, -3);
    asset.setRotation(0, 45, 0);
    asset.setSize(1.5, 1.5, 1.5);
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.layout = {};
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.setPosition(0, -1);
    asset.setSize(20, 20);
    asset.setRotation(-90, 0, 0);
    asset.setColor(1, 1, 1);
    asset.setTexture('http://img.freepik.com/free-vector/blue-watercolor-texture-with-dots_1035-6833.jpg');
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.setPosition(2, 0);
    asset.setSize(1, 2);
    asset.setRotation(0, -90, 0);
    asset.setTexture('images/dress1.png');
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.setPosition(2, 0, -2);
    asset.setSize(1, 2);
    asset.setRotation(0, -90, 0);
    asset.setTexture('images/bloom1.jpg');
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.setPosition(2, 0, 2);
    asset.setSize(1, 2);
    asset.setRotation(0, -90, 0);
    asset.setTexture('images/dress2.png');
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.setPosition(-2, 0, -2);
    asset.setSize(1, 2);
    asset.setRotation(0, 90, 0);
    asset.setTexture('images/dress3.png');
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.setPosition(-2, 0);
    asset.setSize(1, 2);
    asset.setRotation(0, 90, 0);
    asset.setTexture('images/dress4.png');
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.setPosition(-2, 0, 2);
    asset.setSize(1, 2);
    asset.setRotation(0, 90, 0);
    asset.setTexture('images/dress5.png');
    peeks.add(asset);

    asset = new PEEKS.Plane();
    asset.setPosition(0, 0, -4);
    asset.setSize(4, .8);
    asset.setColor(.7, .75, 1);
    asset.setTexture('http://vignette4.wikia.nocookie.net/logopedia/images/e/ec/Bloomingdales_Logo.png/revision/latest?cb=20130313234836');
    peeks.add(asset);

    scene.add(peeks.threeGetNode());

    var time = 0;

    var animSpeed = 4;

    peeks.camera.add(new PEEKS.Animation({
      duration: 10 / animSpeed,
      begin: [0, 0, 5],
      end: [0, 0, 1]
    }));
    peeks.camera.add(new PEEKS.Animation({
      duration: 9 / animSpeed,
      delay: 1,
      p0: [0, 0, 0],
      p1: [0, 80, 10],
      p2: [0, -80, -10],
      p3: [0, 0, 0],
      attribute: 'rotation'
    }));

    var animate = function () {
      requestAnimationFrame( animate );
      time += .02;

      peeks.update(time);
      peeks.threeSynch();

      peeks.camera.threeSynch(camera);


      renderer.render(scene, camera);
    };

    animate();
