extends layout

block content
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-109650112-1")

    script(src="/peeks.js")
    script(src="/peeks.cv.js")
    script(src="/pages/opencv.js")

    script.
        var peeks = new PEEKS.Scene();
        peeks.start(window);
