extends layout

block content
    script(src="/peeks.js")
    script(src="/pages/widget.js")
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-109650112-1")
    h1(align="center") Here is an example of a simple widget
    canvas(id="peeksWidget" width="500" height="20" style="border:10px solid #3333aa;")
    peeks-scene(id="peeks" width="300" height="200")
    h1(align="center") Here is an example of a simple widget done
