.App {
  text-align: center;
  background-image: url("/ui-menubar.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 250px auto;
}

.logo {
  height: 30px;
}

.header {
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: black;
}

.title {
  font-size: 1em;
}

.intro {
  font-size: large;
}

.menuBar {
    align: right;
}

.menuItem {
    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 10px;
}

.roundButton {
    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 10px;
}

.section {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.sectionBlank {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.sectionShapeBg {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-image: url("/ui-shape-wide.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.sectionLeft {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-image: url("/ui-circle.svg");
  background-position: -50px;
  background-repeat: no-repeat;
  background-size: 150px;
}

.sectionRight {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-image: url("/ui-circle.svg");
  background-position: 120%;
  background-repeat: no-repeat;
  background-size: 150px;
}

.sectionFirst {
  padding: 20px;
  color: #fff;
  background-color: #ddd;
  text-align: center;
}

.sectionA {
  padding: 20px;
  color: #fff;
  background-color-: #efccFF;
  text-align: center;
}

.sectionB {
  padding: 20px;
  color: #000;
  background-color-: #fff;
  text-align: center;
}

.sectionC {
  padding: 20px;
  color: #fff;
  background-color-: #FDcddd;
  text-align: center;
}

.sectionD {
  padding: 20px;
  color: #000;
  background-color-: #fff;
  text-align: center;
}

.sectionLast {
  padding: 20px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.section1 {
  padding: 20px;
  color: #ffffff;
  background-color: #FD3279;
  text-align: center;
  background: linear-gradient(-30deg, #FF7556 , #FD3279);
}

.section2 {
  padding: 20px;
  color: #ffffff;
  background-color: #6F01FF;
  text-align: center;
  background: linear-gradient(90deg, #6F01FF , #FD3279);
}

.section3 {
  padding: 20px;
  color: #fff;
  background-color: #333;
  text-align: center;
}

.section4 {
  padding: 20px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.sectionTitle {
  padding: 20px;
  color: #fff;
  background-color: #333;
  text-align: center;
  font-size: 2.0em;
}

.footer {
  padding: 20px;
  color: #ffffff;
  background-color: #FD3279;
  text-align: center;
  background: linear-gradient(-30deg, #FF7556 , #FD3279);
}

.h1 {
  font-size: 1.5em;
  color: #1F176C;
}
.h2 {
  font-size: 1.3em;
}
.h3 {
  font-size: 1.1em;
}
.p {
  font-size: 1em;
}
.copyright {
  font-size: 0.5em;
}
.textSmall {
  font-size: 0.7em;
  color: #85A0B7;
}
.textHighlight {
  font-size: 1.2em;
  color: #D6006C;
}
.textTitle {
  font-size: 2.0em;
  color: #1F176C;
  padding: 10px;
}
b {
  color: #1F176C;
}
.textTitleInverted {
  font-size: 2.0em;
  color: #eee;
  padding: 10px;
}
.textDescription {
  font-size: 0.9em;
  color: #85A0B7;
  padding: 10px;
}
.textGray {
  font-size: 1.0em;
  color: #85A0B7;
}

.box {
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 10px;
    background-color: #fff;
}

.cardPortrait {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    width: 250px;
    height: 350px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

.cardPortraitDescription {
    margin: 5px;
    height: 100px;
    text-align: center;
    padding: 0px;
    background-color: #fff;
}

.cardSquare {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}
