.App {
  text-align: center;
}

.logo {
  height: 30px;
}

.logoText {
  font-size: .95em;
  color: #FFF;
}

.header {
    padding: 0px;
    color: #ffffff;
    background-color: #262626;
    text-align: center;
}

.logoText {
  font-size: .95em;
  color: #1F176C;
}

.logoText {
  font-size: .95em;
  color: #FFF;
}

.intro {
  font-size: large;
}

.menuBar {
    align: right;
}

.menuItem {
    align: right;
    border-width: 0;
    margin: 3px;
    font-size: 0.6em;
    color: #fff;
    background-color: #0000;

    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 3px;
    padding: 4px;
    font-size: 0.6em;
    color: #1F176C;
    background-color: #0000;
    color: #aaa;
}

.menuItemSelected {
    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 3px;
    padding: 4px;
    font-size: 0.6em;
    font-weight: 1;
    color: #6100DF;
    background-color: #0000;
    color: #FFF;
}

.menuItem2 {
    align: right;
    margin: 6px;
    padding: 4px;
    font-size: 1.0em;
    color: #6100DF;
    background-color: #0000;
    border-radius: 10px;
    border-width: 2px;
    border-color: #0000;
}

.menuItem2Selected {
    align: right;
    font-size: 1.0em;
    color: #6100DF;
    background-color: #0000;
    border-radius: 15px;
    border-width: 2px;
    border-color: #6100DF;
    margin: 6px;
    padding: 4px;
    font-size: 1.0em;
    color: #6100DF;
}

.buttonIcon {
    align: right;
    border-radius: 4px;
    border-width: 0;
    margin: 4px;
    padding: 5px;
    font-size: 0.9em;
    color: #FFF;
    background-color: #6100DF;
}

.buttonLink {
    align: center;
    border-width: 0;
    margin: 2px;
    padding: 2px;
    color: #6100DF;
    background-color: #0000;
}

.roundButton {
    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 10px;
}

.section {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.sectionBlank {
    padding: 0px;
    margin: 0px;
    color: #333;
    background-color: #fff;
    text-align: left;
}
.sectionBlank p {
    color: #666666;
}

.sectionDark {
  padding: 0px;
  margin: 0px;
  color: #fff;
  background-color: #262626;
  text-align: left;
}
.sectionDark p {
    color: #EAEAEA;
}

.sectionGrey {
  padding: 0px;
  margin: 0px;
  color: #fff;
  background-color: #eee;
  text-align: center;
}

.sectionShapeBg {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-image: url("/ui-shape-wide.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.sectionLeft {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-image: url("/ui-circle.svg");
  background-position: -50px;
  background-repeat: no-repeat;
  background-size: 150px;
}

.sectionRight {
  padding: 20px;
  color: #fff;
  text-align: center;
  background-image: url("/ui-circle.svg");
  background-position: 120%;
  background-repeat: no-repeat;
  background-size: 150px;
}

.sectionFirst {
  padding: 20px;
  color: #fff;
  background-color: #ddd;
  text-align: center;
}

.sectionA {
  padding: 20px;
  color: #000;
  background-color-: #efccFF;
  text-align: center;
}

.sectionDocumentation {
  padding: 20px;
  color: #000;
  background-color-: #efccFF;
  text-align: left;
}

.sectionB {
  padding: 20px;
  color: #000;
  background-color-: #fff;
  text-align: center;
}

.sectionC {
  padding: 20px;
  color: #fff;
  background-color-: #FDcddd;
  text-align: center;
}

.sectionD {
  padding: 20px;
  color: #000;
  background-color-: #fff;
  text-align: center;
}

.sectionLast {
  padding: 20px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.section1 {
  padding: 20px;
  color: #ffffff;
  background-color: #FD3279;
  text-align: center;
  background: linear-gradient(-30deg, #FF7556 , #FD3279);
}

.sectionTitle {
  padding: 20px;
  color: #fff;
  background-color: #333;
  text-align: center;
  font-size: 2.0em;
}

.footer {
  padding: 10px;
  color: #ffffff;
  background-color: #262626;
  text-align: center;
}

h1 {
    font-size: 55px;
    font-family: "Work Sans";
    font-weight: 800;
}
h2 {
  font-size: 50px;
  font-family: "Work Sans";
  font-weight: 800;
}
h3 {
    font-size: 30px;
    font-family: "Work Sans";
    font-weight: 700;
}
p {
  font-size: 25px;
}
.light {
    color: #EAEAEA
}
.dark {
    color: #666666
}
.copyright {
  font-size: 0.5em;
}
.textSmall {
  font-size: 0.7em;
  color: #85A0B7;
}
.textHighlight {
  font-size: 1.2em;
  color: #D6006C;
}
.textTitle {
  font-size: 2.0em;
  color: #1F176C;
  padding: 10px;
}
.textTitleWhite {
  font-size: 2.0em;
  color: #FFF;
  padding: 10px;
}
.textTitle2 {
  font-size: 1.6em;
  color: #1F176C;
  padding: 10px;
}
.textTitle3 {
  font-size: 1.2em;
  color: #1F176C;
  padding: 4px;
}
.textTitle4 {
  font-size: 1.0em;
  color: #1F176C;
  padding: 2px;
}
.textDocumentation {
  font-size: 1.0em;
  color: #666;
  padding: 4px;
}
.textDocumentation2 {
  font-size: 0.9em;
  color: #444;
  padding: 2px;
}
.textDocumentation3 {
  font-size: 0.8em;
  color: #222;
  padding: 2px;
}
.textCode {
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.0em;
  color: #333;
  margin: 20px;
  padding: 12px;
  background-color: #eee;
}
.textCode2 {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 1.0em;
  color: #333;
  margin: 3px;
  padding: 8px;
  background-color: #f4f4f4;
}
.javascript {
  color: #a00;
}
.textJsString {
  color: #a00;
}
.textJs {
  color: #000;
}
.textJsVar {
  color: #700;
}
.textJsComment {
  color: #5f5;
}
.textJsFunction {
  color: #00b;
}
.textHtmlTag {
  color: #555;
}
.textHtml {
  color: #555;
}
.codeIndent {
  margin: 0px;
}
.textTitleInverted {
  font-size: 2.0em;
  color: #eee;
  padding: 10px;
}
.textDescription {
  font-size: 0.9em;
  color: #557087;
  padding: 10px;
}
.textGray {
  font-size: 1.0em;
  color: #85A0B7;
}

.box {
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 0px;
    background-color: #fff;
}

.boxFill {
    margin: 0px;
    padding: 0px;
    display: block;
}

.widget {
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 0px;
    background-color: #fff;
}

.cardPortrait {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    width: 250px;
    height: 350px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

.cardPortraitDescription {
    margin: 5px;
    height: 100px;
    text-align: center;
    padding: 0px;
    background-color: #fff;
}

.cardSquare {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

.veryRealCard {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 250px;
    position: 'absolute';
    left: 0px;
    right: 0px;
    text-align: left;
    background-color: #95E4F0;
    color: #000;
    padding: 10px;
}

.vrModalTitle {
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}

.vrModalText {
    margin: 5px;
    text-align: justify;
    font-size: 0.8em;
    padding: 5px;
}

.vrMapButton {
    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 10px;
    padding: 5px;
    color: #005;
    background-color: #8EC3B9DD;
}

.vrMapButtonPressed {
    align: right;
    border-radius: 20px;
    border-width: 5px;
    border-color: #AEE3D9;
    margin: 5px;
    padding: 5px;
    color: #005;
    background-color: #8EC3B9DD;
}

.vrButton {
    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 10px;
    padding: 10px;
    color: #fff;
    background-color: #283C69;
}

.creaButton1 {
    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 10px;
    background-color: #FF733F;
}

.creaButton2 {
    align: right;
    border-radius: 20px;
    border-width: 0;
    margin: 10px;
    color: #fff;
    background-color: #01B050;
}

.creaCard {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 200px;
    position: 'absolute';
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: #FF733F;
    color: #fff;
    padding: 2px;
}
