extends layout

block content
    script(src="/javascripts/peeks.js")
    script(src="/javascripts/three.js")
    script(src="/javascripts/peeks_three.js")

    script(src="/pages/peeks_welcome.js")

    script.
        PEEKS.setLogLevel(1);
        var peeks = new PEEKS.Scene();
        peeks.toggleGyroscope();
        peeks.loadPage('peeks_welcome');
        peeks.start(window);
